@(message: String)

@main("Welcome to Play") {
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <nav role="menuitem">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"> ダッシュボード</span></a></li>
                        <li class="active"><a href="/calendar"><span class="glyphicon glyphicon-calendar"> カレンダー</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-10">
                <div class="page-header page-title">
                    <h1>@message</h1>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-calendar"></span> 実績カレンダー
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3 text-left">
                            <span class="calendar-title">
                                <h2>July 2014</h2>
                            </span>
                        </div>
                        <div class="col-md-9 text-right calendar-nav-row">
                            <span class="calendar-nav">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </span>
                            <span class="calendar-nav">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </span>
                            <span class="calendar-nav">
                                <span class=""><button type="button" class="btn btn-primary btn-sm">今日</button></span>
                            </span>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="calendar-day-header">Sun</th>
                                        <th class="calendar-day-header">Mon</th>
                                        <th class="calendar-day-header">Tue</th>
                                        <th class="calendar-day-header">Wed</th>
                                        <th class="calendar-day-header">Thu</th>
                                        <th class="calendar-day-header">Fri</th>
                                        <th class="calendar-day-header">Sat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="calendar-day">
                                            <div class="calendar-day-area">
                                                <div class="calendar-day-number calendar-other-month">29</div>
                                                <div class="calendar-day-content"><span class="glyphicon glyphicon-ok-sign" style="color : limegreen;font-size: 2em;"></span></div>
                                            </div>
                                        </td>
                                        <td class="calendar-day">
                                            <div class="calendar-day-area">
                                                <div class="calendar-day-number calendar-other-month">30</div>
                                                <div class="calendar-day-content"><span class="glyphicon glyphicon-remove-sign" style="color : red;font-size: 2em;"></span></div>
                                            </div>
                                        </td>
                                        <td class="calendar-day">
                                            <div class="calendar-day-area">
                                                <div class="calendar-day-number">1</div>
                                                <div class="calendar-day-content"><span class="glyphicon glyphicon-ok" style="color : limegreen;font-size: 2em;"></span></div>
                                            </div>
                                        </td>
                                        <td class="calendar-day">
                                            <div class="calendar-day-area">
                                                <div class="calendar-day-number">2</div>
                                                <div class="calendar-day-content"><span class="glyphicon glyphicon-remove" style="color : red;font-size: 2em;"></span></div>
                                            </div>
                                        </td>
                                        <td class="calendar-day">
                                            <div class="calendar-day-area">
                                                <div class="calendar-day-number">3</div>
                                                <div class="calendar-day-content"><span class="glyphicon glyphicon-ok" style="color : limegreen;font-size: 2em;"></span></div>
                                            </div>
                                        </td>
                                        <td class="calendar-day">
                                            <div class="calendar-day-area">
                                                <div class="calendar-day-number">4</div>
                                                <div class="calendar-day-content"><span class="glyphicon glyphicon-ok" style="color : limegreen;font-size: 2em;"></span></div>
                                            </div>
                                        </td>
                                        <td class="calendar-day">
                                            <div class="calendar-day-area">
                                                <div class="calendar-day-number">5</div>
                                                <div class="calendar-day-content"><span class="glyphicon glyphicon-ok" style="color : limegreen;font-size: 2em;"></span></div>
                                            </div>
                                        </td>
                                    </tr><tr>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">6</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">7</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">8</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">9</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">10</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">11</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">12</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                </tr><tr>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">13</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">14</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">15</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">16</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">17</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">18</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">19</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                </tr><tr>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">20</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">21</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">22</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">23</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">24</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">25</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">26</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                </tr><tr>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">27</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">28</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">29</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">30</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number">31</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number calendar-other-month">1</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number calendar-other-month">2</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                </tr><tr>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number calendar-other-month">3</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number calendar-other-month">4</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number calendar-other-month">5</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number calendar-other-month">6</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number calendar-other-month">7</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number calendar-other-month">8</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                    <td class="calendar-day">
                                        <div class="calendar-day-area">
                                            <div class="calendar-day-number calendar-other-month">9</div>
                                            <div class="calendar-day-content"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
